@use '../utilities' as *;

.button {
    display: inline-block;
    margin: 22px 0;
    min-width: 80px;
    padding: 11px 22px;

    border: 2px solid color(secondary, dark);
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px rgba(color(gray, jet), 0.8);
    color: color(secondary, light);
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-out;

    &:hover { 
        border-color: color(gray, light);
        box-shadow: none;
        color: color(gray, light);
        text-decoration: none;
    }

    &.center { 
        max-width: 120px; 
    }

    &.wide {
        max-width: 240px;
    }

    &.full {
        max-width: 100%;
    }

    // Button variants
    &--primary {
        background-color: color(primary, dark);;
        border-color: color(primary, dark);
        color: color(gray, light);

        &:hover {
            background-color: color(primary, dark);
        }
    }

    &--secondary {
        background-color: transparent;
        border-color: color(secondary, dark);
        color: color(secondary, dark);

        &:hover {
            background-color: color(secondary, dark);
        }
    }

    &--tertiary {
        background-color: transparent;
        border-color: color(gray, mid);
        color: color(gray, light);

        &:hover {
            background-color: color(gray, mild);
        }
    }
}

.button__return-top {
    background-color: color(primary, dark);
    border-radius: 50%;
    height: 44px;
    line-height: 44px;
    min-height: auto;
    min-width: auto;
    padding: 0;
    width: 44px;
    
    position: fixed;
    bottom: 66px;
    right: 11px;

    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out;

    &:hover { 
        border-color: color(gray, light);
        background-color: color(primary, mid);
        transform: rotate(-90deg) translateX(2px); 
    }

    span {
        height: 44px;
        line-height: 33px;
        width: 44px;

        font-size: 33px;
    }

    img {        
        height: auto;
        padding: 0 0 5.5px;
        width: calc(100% - 22px);
        vertical-align: middle;
    }
}
