@use '../utilities' as *;

input,
textarea,
select {
  background-color: color(primary, dark);
  border: solid 1px color(secondary, mid);
  border-radius: 5px;
  color: color(secondary, mid);
  display: block;
  margin: 11px 0 0;
}

input {
  height: 28px;
  padding: 2px 5.5px;

  &::placeholder {
    color: rgba(color(secondary, mid), 0.5);
  }
}

textarea {
  min-height: 88px;
  min-width: 88%;
  padding: 5.5px;
}

select {
  height: 36px;
  padding: 5.5px;

  option {
    background-color: color(primary, dark);
    border: solid 1px color(secondary, mid);
    border-radius: 5px;
    height: 22px;
  }
}