@use '../utilities' as *;

// Base section
.section {
  padding: 44px 0;

  @include breakpoint($small-screen) {
    padding: 88px 0;
  }
}

// Section content
.section__content {
  margin: 0 auto;
  max-width: $medium-screen;
  padding: 11px 22px 11px;

  @include breakpoint($small-screen) {
    padding: 22px 22px 44px;
  }
}

.section__title {
  text-align: center;
}

.section__label {
  color: color(secondary, mid);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 11px;
  text-transform: uppercase;
}

.section__body {
  color: color(gray, light);
  font-size: 18px;
  line-height: 1.6;
  margin: 0 auto 22px;
  max-width: 600px;

  @include breakpoint($small-screen) {
    font-size: 20px;
  }
}

// Quote & Cite
.section__quote {
  display: inline-block;
  font-style: italic;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  max-width: 800px;

  @include breakpoint($small-screen) {
    font-size: 24px;
  }

  p {
    color: color(secondary, mid);
    margin: 0;
  }

  cite {
    color: color(gray, lightest);
    display: block;
    font-size: 16px;
    margin: 0 0 22px;
    text-align: right;
  }
}

// Alternative sections
.section--alt {
  background-color: color(primary, dark);

  .section__title {
    color: color(secondary, lightest);
  }

  .section__label {
    color: color(gray, lightest);
    font-size: 14px;  
  }

  .section__body {
    color: color(gray, lightest);
  }
}

.section--narrow {
  padding: 22px 0;

  @include breakpoint($small-screen) {
    padding: 33px 0;
  }

  .section__content {
    max-width: $small-screen;
  }
}

// Section modifiers
.section--wide {
  padding: 88px 0;

  @include breakpoint($small-screen) {
    padding: 132px 0 88px;
  }

  .section__content {
    max-width: $large-screen;
  }
}
